@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

nav, .site-title, .site-title a {
  margin: 0;
  padding: 0;
}
.site-title a {
  font-size: 2em;
  font-family: "Erica One", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #a9b900;
/*   color: #994030; */
  text-decoration: none;
}

h1 {
  font-size: 2em;
}
